*{
 .external{
    font-family:Arial;
    border:1px solid black;
    padding:10px;
    background-color:cornsilk;
   }
    .header{
        background-color:lightblue;
        font-size:20px;
        font-weight:"bold";
    }
}